<div class="import-section" (appDropZone)="onDropFiles($event)">
	<div class="drop-zone">
		<div class="title">{{'EDITOR_IMPORT_DROP' | translate }}<br/>
			{{'EDITOR_FORMAT_KYODAI' | translate }}<br/>
			{{'EDITOR_FORMAT_KMAHJONGG' | translate }}<br/>
			{{'EDITOR_FORMAT_MAH' | translate }}<br/>
		</div>
		<input name="file" type="file" multiple (change)="selectFiles($event)">
	</div>
	<div class="log-zone">
		@for (log of logs; track log) {
			<p class="layout" [class.is-error]="log.isError">
				@if (log.id) {
					<a (click)="selectLayout(log.id)"><i class="icon-editor-ok"></i> {{ log.msg }}</a>
				}
				@if (!log.id) {
					{{ log.msg }}
				}
			</p>
		}
	</div>
</div>
