<div class="import-section" (appDropZone)="onDropFiles($event)">
	<div class="drop-zone">
		<div class="title">Drag your files here<br/>
			*.lay (Kyodai text format)<br/>
			*.layout (kmahjongg text format)<br/>
			*.mah (Mah json format)<br/>
		</div>
		<input name="file" type="file" multiple (change)="selectFiles($event)">
	</div>
	<div class="log-zone">
		<p class="layout" *ngFor="let log of logs" [class.is-error]="log.isError">
		<a *ngIf="log.id" (click)="selectLayout(log.id)"><i class="icon-editor-ok"></i> {{log.msg}}</a>
		<ng-container *ngIf="!log.id">{{log.msg}}</ng-container>
		</p>
	</div>
</div>
