<div class="controls-top">
	<div class="ctrl ctrl-name">
		<span class="link button" (click)="toggleHelp()" title="{{'OPEN_SETTINGS' | translate}}">🀄️Mah</span>
	</div>
	<div class="ctrl ctrl-game">
		<span class="link button" (click)="enterFullScreen()" title="{{'FULLSCREEN' | translate}}">
			<i class="icon-resize-full-alt"></i> <span class="label">{{'FULLSCREEN' | translate}}</span>
		</span>
		<span class="link button" (click)="game.toggle()" title="{{'PAUSE_LONG' | translate}}">
			<i class="icon-pause"></i> <span class="label">{{'PAUSE' | translate}}</span>
		</span>
		<span class="link button" (click)="game.back()" title="{{'UNDO_LONG' | translate}}" [attr.disabled]="game.undo.length==0 ? true : null">
			<i class="icon-undo"></i> <span class="label">{{'UNDO' | translate}}</span>
		</span>
		<span class="link button" (click)="game.hint()" title="{{'HINT_LONG' | translate}}">
			<i class="icon-lightbulb"></i> <span class="label">{{'HINT' | translate}}</span>
		</span>
		<span class="link button" (click)="newGame()" title="{{'RESTART_LONG' | translate}}">
			<i class="icon-loop"></i> <span class="label">{{'RESTART' | translate}}</span>
		</span>
	</div>
</div>
<div class="board">
	<app-board class="svg-board" [tiles]="game.board.stones" [imageSet]="game.settings.tileset" [click]="onClickCallback"></app-board>
</div>
<div class="controls-bottom">
	<div class="ctrl ctrl-stats">
		<span class="link button" (click)="toggleHelp()" title="{{'OPEN_SETTINGS' | translate}}">
			<i class="icon-info"></i>
		</span>
		<span class="link button" (click)="toggleTilesInfo()" title="{{'TILES_INFO' | translate}}">
			<i class="icon-calendar"></i>
		</span>
		<span class="link button" [ngClass]="{'inactive':!game.settings.sounds}" (click)="game.toggleSound()" title="{{'AUDIO_SOUNDS'|translate}}">
			<i class="icon-volume-low"></i>
		</span>
		<!--<span class="link button" [ngClass]="{'inactive':!game.settings.music}" (click)="game.toggleMusic()" title="{{'AUDIO_MUSIC'|translate}}">-->
			<!--<i class="icon-note-beamed"></i>-->
		<!--</span>-->
		<span class="label button"><small>{{'STONES' | translate}}</small>: <span>{{game.board.count}}</span></span>
		<span class="label button"><small>{{'FREE' | translate}}</small>: <span>{{game.board.free.length}}</span></span>
		<span class="link button" [ngClass]="{'off':!game.settings.music}">
				<small>{{'TRACK' | translate}}</small>: <span (click)="game.music.next()">{{game.music.current()}}</span>
			</span>
	</div>
	<div class="ctrl ctrl-time">
		<span>{{game.clock.elapsed | duration}}</span>
	</div>
</div>
<div *ngIf="helpVisible" class="overlay help" (click)="toggleHelp();">
	<div class="overlay-popup" (click)="$event.stopPropagation();">
		<span class="close" (click)="toggleHelp()"><i class="icon-cancel-circled2 pull-right"></i></span>
		<app-help-component [game]="game"></app-help-component>
	</div>
</div>
<div [hidden]="!game.message" class="overlay message" (click)="clickMessage();">
	<div class="overlay-popup">
		<div>{{game.message | translate}}</div>
	</div>
</div>
<div *ngIf="tilesInfoVisible" class="overlay tiles-info" (click)="toggleTilesInfo();">
	<div class="overlay-popup" (click)="$event.stopPropagation();">
		<span class="close" (click)="toggleTilesInfo()"><i class="icon-cancel-circled2 pull-right"></i></span>
		<app-tiles-info></app-tiles-info>
	</div>
</div>
<div *ngIf="layouts && newGameVisible" (click)="toggleNewGame();" class="overlay newgame">
	<div class="overlay-popup" (click)="$event.stopPropagation();">
		<span class="close" (click)="toggleNewGame();"><i class="icon-cancel-circled2 pull-right"></i></span>
		<app-choose-board-component class="choose" [layouts]="layouts" [start]="onGameStartCallback"></app-choose-board-component>
	</div>
</div>
