@import "../../style/globals";

:host {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	height: 100%;
	width: 100%;
	min-height: 100vh;

	.controls {
		min-width: 170px;

		.feature {
			display: none;

			&.enabled {
				display: unset;
			}
		}

		.ctrl {
			display: inline-block;
			color: $text-color;
			@include no-select();

			.link {
				text-decoration: none;
				font-weight: normal;
				color: $text-color;
				margin-left: 16px;
				padding: 0.2em 0.8em;

				i {
					margin-right: 2px;
				}

				&:hover {
					color: lighten($text-color, 5%);
				}

				&[disabled] {
					color: darken($text-color, 10%);
				}

				@include respond-to(tiny-up) {
					margin-left: 10px;
				}
			}

			.button {
				background-color: transparent;
				background-image: none;
				border-color: $background-color;

				&:hover {
					border-color: lighten($background-color, 2%);
				}
			}

			&.ctrl-name {
				font-weight: 600;
				cursor: pointer;

				span.name {
					margin-left: 6px;
				}
			}

			.inactive {
				color: darken($text-color, 10%);

				&:hover {
					color: darken($text-color, 5%);
				}
			}

			.off {
				display: none;
			}

			&.ctrl-game {
				float: right;
			}

			&.ctrl-time {
				cursor: default;
				float: right;
				padding-right: 12px;

				.text {
					margin-right: 26px;
					font-variant-numeric: lining-nums;
				}

				small {
					margin-right: 6px;
				}

				.time {
					min-width: 98px;
					display: inline-block;
					text-align: right;
					font-variant-numeric: slashed-zero tabular-nums;
				}
			}

			&.ctrl-stats {
				cursor: default;

				.label {
					margin-left: 10px;
				}
			}

		}

		@include respond-to(medium-up) {
			font-size: $base-font-size*1.2;
		}

		@include respond-to(large-up) {
			font-size: $base-font-size*1.3;
		}

		@include respond-to(huge-up) {
			font-size: $base-font-size*1.6;
		}

		@include respond-to(jumbo-up) {
			font-size: $base-font-size*2.3;
		}

		@include respond-to(ludicrous-up) {
			font-size: $base-font-size*4;
		}

		@include respond-to(large-down) {
			font-size: $base-font-size*1.1;
			.ctrl .link {
				padding: 0.2em;
			}
		}

		@include respond-to(medium-down) {
			span.label {
				display: none;
			}
		}

		@include respond-to(small-down) {
			padding: 0 6px 0 6px;
			.ctrl .link {
				margin-left: 2px;
				padding: 0.1em;
			}
		}

		@include respond-to(tiny-down) {
			//font-size: $base-font-size*1.3;
			.ctrl .link {
				padding: 0.2em;
				margin-left: 2px;
			}
			span.name {
				display: none;
			}

			.ctrl {
				span:first-of-type {
					margin-left: 0;
				}
			}


		}

		@include respond-to(pico-down) {
			font-size: $base-font-size*1.1;
			span.name {
				display: none;
			}
		}

	}

	@media only screen and (min-width: 400px) and (max-height: 600px) {
		flex-direction: row;

		.controls {
			.ctrl {
				float: unset !important;
				text-align: center;

				i {
					font-size: 20px;
				}

				.link {
					display: block;
					margin-left: 0;
					margin-bottom: 10px;
					padding-left: 4px;
					padding-right: 4px;
				}

				.feature {
					display: none;

					&.enabled {
						display: block;
					}
				}

			}
		}

		padding-left: 40px;
		padding-right: 40px;

		.controls-top {
			min-width: unset;
			max-width: 32px;
			padding: 0;
			display: flex;
			flex-direction: column;
			height: 100%;
			position: absolute;
			left: 0;

			.ctrl.ctrl-name {
				flex: 1;
			}

			.ctrl.ctrl-game {
				display: flex;
				flex-direction: column;

				span:first-of-type {
					margin-bottom: 2px;
				}
			}

			span.name {
				display: none;
			}

			span.label {
				display: none;
			}
		}

		.controls-bottom {
			min-width: 98px;
			max-width: 98px;
			display: flex;
			flex-direction: column;
			height: 100%;
			position: absolute;
			right: 0;
			padding: 0;
			align-items: flex-end;

			.ctrl {
				flex: 1;
				display: flex;
				flex-direction: column;
				text-align: right;

				.label {
					margin-left: 0;
				}
			}

			.ctrl.ctrl-stats {
				max-width: 40px;
			}

			.ctrl.ctrl-time {
				text-align: right;
				justify-content: flex-end;
				padding-right: 6px;
				padding-left: 6px;

				.time {
					text-align: right;
					min-width: 0;
				}

				.text {
					text-align: right;
					margin-right: 0;
					margin-bottom: 8px;

					small {
						display: block;
						margin-right: 0;
						line-height: 0.9em;
					}
				}
			}


		}
	}
	@media only screen and (min-width: 400px) and (max-height: 260px) {
		.controls .ctrl .link {
			margin-bottom: 0;
		}
	}

	.controls-top {
		border-bottom: 1px solid lighten($background-color, 5%);
	}

	.controls-bottom {
		border-top: 1px solid lighten($background-color, 5%);
	}

	.board {
		display: flex;
		flex-direction: row;
		flex: 1;
		overflow: hidden;
	}

	@include overlay();

	.overlay-help, .overlay-settings, .overlay-tiles-info {
		z-index: 10010;

		.overlay-popup {
			width: 90%;
			overflow-y: auto;
			padding: 1.5em 2em;
		}
	}

	.overlay-message {
		.overlay-popup {
			cursor: pointer;
			font-weight: 600;
			text-align: center;
			color: $text-color;
			padding: 1.5em 2em;
			@include no-select();
		}
	}

	.overlay-newgame {
		.overlay-popup {
			width: 98%;
			height: 98%;
			padding: 1.5em 2em;
		}
	}

}
