@import "../../style/globals";

:host {

  &.paused {
    .board {
      @include blur(8px);
    }
  }

  .overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    background-color: rgba(0, 0, 0, 0.2);
    max-height: 100%;

    .overlay-popup {
      max-height: calc(100% - 50px);
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      margin-left: auto;
      margin-right: auto;
      //max-height: 100%;
      overflow: auto;
      border: 1px solid $popup-border-color;
      background-color: $popup-background-color;
      padding: 40px;
      @include rounded (12px);
      @include box-shadow (12px, 14px, 16px, rgba(0, 0, 0, 0.5));

      @media (max-width: $width-medium) {
        padding: 20px;
      }
      @media (max-height: $height-small) {
        padding: 20px;
      }
    }

    .close {
      right: 20px;
      position: absolute;
      color: darkgray;
      cursor: pointer;
    }
  }

  .controls-top {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 40px;
    z-index: 10;
    padding: 0 20px 0 20px;
    border-bottom: 1px solid lighten($background-color, 5%);
  }

  .board {
    position: fixed;
    left: 0;
    right: 0;
    top: 40px;
    bottom: 40px;

    .board-svg {
    }

  }

  .help {
    z-index: 10010;

    .overlay-popup {
      padding-top: 14px;
      padding-bottom: 14px;
      width: 500px;
      max-width: 90%;
    }
  }

  .message {
    .overlay-popup {
      max-width: 400px;
      cursor: pointer;
      font-weight: 600;
      font-size: 30px;
      text-align: center;
      color: $text-color;
      @include no-select();
      @media (max-height: $height-small) {
        font-size: 20px;
      }
    }
  }

  .newgame {
    .overlay-popup {
      width: 100%;
      height: 100%;
      max-width: 600px;
      max-height: 440px;
    }
    @media (max-width: $width-medium) {
      .overlay-popup {
        padding: 30px;
      }
    }
    @media (max-height: $height-small) {
      .overlay-popup {
        padding-bottom: 30px;
      }
    }
  }

  .controls-bottom {
    border-top: 1px solid lighten($background-color, 5%);
    position: fixed;
    left: 0;
    right: 0;
    z-index: 10;
    bottom: 0;
    height: 40px;
    padding: 0 20px 0 20px;
  }

  .ctrl {
    display: inline-block;
    color: $text-color;
    font-size: 1.4em;
    line-height: 40px;
    @include no-select();
    .link {
      text-decoration: none;
      font-weight: normal;
      color: $text-color;
      margin-left: 10px;
      &:hover {
        color: lighten($text-color, 5%);
      }
      &[disabled] {
        color: darken($text-color, 10%);
      }
    }

    &.ctrl-name {
      font-weight: 600;
      cursor: pointer;
      font-size: 1.5em;
    }

    .inactive {
      color: darken($text-color, 10%);
    }

    .off {
      display: none;
    }

    &.ctrl-game {
      float: right;
    }
    &.ctrl-time {
      cursor: default;
      float: right;
    }
    &.ctrl-stats {
      cursor: default;
      .label {
        margin-left: 10px;
      }
    }

  }

  @media (max-width: $width-large) {
    .controls-top {
      span.label {
        display: none;
      }
    }
    .controls-bottom {
      font-size: 10px;
    }
  }

  @media (max-width: $width-medium) {
    .controls-top {
      font-size: 0.8em;
      span.label {
        display: none;
      }
    }
    .controls-bottom {
      font-size: 10px;
    }
  }

  @media (max-width: $width-small) {
    .ctrl .link {
      margin-left: 4px;
    }
  }

  @media (max-height: $height-small) {
    .board {
      top: 0;
      bottom: 20px;
      right: 50px;
    }

    .controls-top {
      top: 0;
      bottom: 0;
      left: auto;
      right: 0;
      padding: 0;
      width: 50px;
      max-width: 50px;
      border-bottom: none;
      border-left: 1px solid lighten($background-color, 5%);
      height: 100%;

      span.label {
        display: none;
      }

      .ctrl .link {
        margin-right: 0;
      }

      .ctrl-name {
        display: none;
      }
    }

    .controls-bottom {
      padding-right: 0;
      height: 30px;
      font-size: 10px;
      .ctrl {
        line-height: 30px;
      }
      .ctrl-time {
        text-align: center;
        width: 50px;
        max-width: 50px;
      }
    }
  }

  @media (max-height: $height-tiny) {
    .controls-bottom {
      height: 26px;
      font-size: 9px;
      .ctrl {
        line-height: 26px;
      }
    }
  }

}
