@import "../../style/globals";

:host {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	height: 100%;
	width: 100%;
	min-height: 100vh;

	//&.paused {
	//	.board {
			//@include blur(1px);
		//}
	//}

	.controls {
		min-width: 170px;
		padding: 0 0.8em 0 0.8em;

		.ctrl {
			display: inline-block;
			color: $text-color;
			@include no-select();

			.link {
				text-decoration: none;
				font-weight: normal;
				color: $text-color;
				margin-left: 4px;

				&:hover {
					color: lighten($text-color, 5%);
				}

				&[disabled] {
					color: darken($text-color, 10%);
				}

				@include respond-to(tiny-up) {
					margin-left: 10px;
				}
			}


			&.ctrl-name {
				font-weight: 600;
				cursor: pointer;
			}

			.inactive {
				color: darken($text-color, 10%);
			}

			.off {
				display: none;
			}

			&.ctrl-game {
				float: right;
			}

			&.ctrl-time {
				cursor: default;
				float: right;
			}

			&.ctrl-stats {
				cursor: default;

				.label {
					margin-left: 10px;
				}
			}

		}

		//@include respond-to(small-up) {
		//}

		@include respond-to(medium-up) {
			font-size: $base-font-size*1.2;
		}

		@include respond-to(large-up) {
			font-size: $base-font-size*1.3;
		}

		@include respond-to(huge-up) {
			font-size: $base-font-size*1.6;
		}

		@include respond-to(jumbo-up) {
			font-size: $base-font-size*2.3;
		}

		@include respond-to(ludicrous-up) {
			font-size: $base-font-size*4;
		}

		@include respond-to(small-down) {
			padding: 0 6px 0 6px;
			span.label {
				display: none;
			}
		}
		@include respond-to(tiny-down) {
			span.name {
				display: none;
			}
		}
	}

	.controls-top {
		border-bottom: 1px solid lighten($background-color, 5%);
		padding-top: 3px;
	}

	.controls-bottom {
		border-top: 1px solid lighten($background-color, 5%);
	}

	.board {
		display: flex;
		flex-direction: row;
		flex: 1;
		overflow: hidden;
	}

	.overlay {
		height: 100%;
		width: 100%;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 10000;
		background-color: rgba(0, 0, 0, 0.2);
		max-height: 100%;
		font-size: $base-font-size*0.9;

		@include respond-to(medium-up) {
			font-size: $base-font-size*1.1;
		}

		@include respond-to(large-up) {
			font-size: $base-font-size*1.2;
		}

		@include respond-to(huge-up) {
			font-size: $base-font-size*1.2;
		}

		@include respond-to(jumbo-up) {
			font-size: $base-font-size*2.5;
		}

		@include respond-to(ludicrous-up) {
			font-size: $base-font-size*3.5;
		}

		@include respond-to-height(small-down) {
			font-size: $base-font-size*0.9;
		}

		.overlay-popup {
			position: fixed;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			max-height: 90%;
			max-width: 90%;
			margin-left: auto;
			margin-right: auto;
			border: 1px solid $popup-border-color;
			background-color: $popup-background-color;
			padding: 1em;
			line-height: 1.2em;
			@include rounded (12px);
			@include box-shadow (12px, 14px, 16px, rgba(0, 0, 0, 0.5));

			@include respond-to(jumbo-up) {
				@include rounded(30px);
			}

			@include respond-to(large-up) {
				max-height: 80%;
				max-width: 80%;
			}
		}

		.close {
			right: 4px;
			top: 4px;
			position: absolute;
			color: darkgray;
			cursor: pointer;
		}
	}

	.overlay-help, .overlay-settings, .overlay-tiles-info {
		z-index: 10010;

		.overlay-popup {
			width: 90%;
			overflow-y: auto;
		}
	}

	.overlay-message {
		.overlay-popup {
			cursor: pointer;
			font-weight: 600;
			text-align: center;
			color: $text-color;
			padding: 1.5em 2em;
			@include no-select();
		}
	}

	.overlay-newgame {
		.overlay-popup {
			width: 90%;
			height: 90%;
			padding: 1.5em 1em 1em;
		}
	}

}
