@import "../../style/globals";

:host {
	display: block;
	width: 75px;
	height: 100px;
	margin: 0 auto;

	> svg {
		height: 100%;
		width: auto;
		background-color: #FFF9E5;
		border: 1px solid #4b4b4b;
		&.dark {
			background-color: #000;
		}
	}
}
