<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 75 100" preserveAspectRatio="xMidYMid meet" [class.dark]="isDark()">
	@if (!sharedPrefix()) {
		<defs app-image-set-loader [imageSet]="imageSet()" [kyodaiUrl]="kyodaiUrl()" [dark]="isDark()" [prefix]="'t_'+imageSet()+'_'+index()+'_'"></defs>
	}
	<title>{{tile() | translate}}</title>
	<use
		[attr.xlink:href]="sharedPrefix() ? '#'+sharedPrefix()+tile() : '#t_'+imageSet()+'_'+index()+'_'+tile()"
		[attr.x]="imagePos()[0]"
		[attr.y]="imagePos()[1]"
		[attr.width]="imagePos()[2]"
		[attr.height]="imagePos()[3]"
	/>
</svg>
