@import "../../style/globals";

:host {
	display: block;
	width: 100%;
	height: auto;
	margin: 0 auto;
	max-width: 1.5em;

	> svg {
		height: 100%;
		width: 100%;
		background-color: #FFF9E5;
		border: 1px solid #4b4b4b;

		rect.stone {
			fill: none;
			stroke: none;
		}
	}
}
