:host {
	display: block;
	width: 75px;
	height: 100px;
	margin: 0 auto;

	> svg {
		height: 100%;
		width: auto;
		background-color: var(--tile-color);
		border: 1px solid var(--tile-color-border);

		&.dark {
			background-color: var(--tile-color-dark);
			border: 1px solid var(--tile-color-border-dark);
		}
	}
}
