@use "../../style/mixins";

:host {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	flex: 1;
	overflow-y: auto;

	> div {
		width: 50%;
		padding-right: 20px;

		@include mixins.respond-to(medium-down) {
			width: 100%;
			padding-right: 8px;
		}

		> div {
			width: 100%;

			> div {
				display: flex;
				flex-direction: row;

				> div {
					flex: 1;
				}

				.name {
					max-width: 40%;
				}
			}
		}
	}

	input[type="checkbox"] {
		height: 1em;
		width: 1em;
	}

	input[type="radio"], input[type="checkbox"], label, button {
		cursor: pointer;
	}

	p {
		margin: 1em 0 4px;
		font-weight: bold;
		border-bottom: 1px solid var(--main-bg-color-lt);
	}

	.radio {
		columns: 2;
		text-align: left;
		list-style: none;
		padding: 0;
		margin: 0;
		vertical-align: text-bottom;

		label {
			vertical-align: middle;
			line-height: 30px;
			white-space: nowrap;
			text-overflow: ellipsis;
			flex: 1;
		}

		li {
			padding-left: 19px;
			line-height: 30px;
			display: flex;
			gap: 3px;
			height: 30ox;
			align-items: center;

			&:hover {
				background-color: var(--dialog-background-color-hover);
			}
		}

		input {
			margin-left: -14px;
		}

		@include mixins.respond-to(pico-down) {
			columns: 1;
		}
	}

	.check {
		padding: 2px;
		line-height: 30px;
		height: 30ox;

		&:hover {
			background-color: var(--dialog-background-color-hover);
		}
	}

	.clear-times {
		margin-top: 10px;
		padding: 12px 20px;
	}

	.close {
		margin-top: 0;
	}

	.input-wrapper {
		display: flex;
		flex-direction: row;
		position: relative;
		border: 1px solid var(--card-layout-color-border);
		background-color: var(--input-background-color);
		border-color: var(--input-border-color);
		color: var(--input-text-color);
		margin-top: 8px;
		margin-bottom: 8px;

		&::after {
			position: absolute;
			content: '';
			right: 8px;
			top: 16px;
			width: 0;
			height: 0;
			border-left: 5px solid transparent;
			border-right: 5px solid transparent;
			border-top: 10px solid var(--input-text-color);
			pointer-events: none;
		}

		textarea {
			flex: 1;
			border: none;
			resize: none;
			outline: none;
			font-size: 10px;
			background-color: var(--input-background-color);
			color: var(--input-text-color);
		}

		&:focus-within {
			outline: 2px solid var(--card-layout-color-border);
		}

		.example-kyodai {
			background-color: var(--input-background-color);
			color: var(--input-background-color);
			border: none;
			width: 30px;
		}

		.clear-kyodai {
			background-color: var(--input-background-color);
			color: var(--input-text-color);
			border: none;
			width: 30px;

			svg {
				fill: var(--input-text-color);
			}
		}
	}
}
