<div class="settings">
	<p>{{ 'LANG' | translate }}</p>
	<div class="buttons">
		<form>
			<ul class="radio">
				<li><input type="radio" name="lang" id="lang0" value="auto"
									 [checked]="( app.settings.lang === 'auto' )"
									 (change)="app.settings.lang = 'auto'; app.setLang();"
				/><label for="lang0">{{ 'LANG_AUTO' | translate }}</label></li>
				@for (lang of languages; track lang; let i = $index) {
					<li>
						<input type="radio" name="lang" [id]="'lang'+(i+1)" [value]="lang.key"
									 [checked]="( app.settings.lang === lang.key )"
									 (change)="app.settings.lang = lang.key;app.setLang();"
						/><label [for]="'lang'+(i+1)">{{ lang.title }}</label></li>
				}
			</ul>
		</form>
	</div>
	<p>{{ 'BACKGROUND' | translate }}</p>
	<div class="buttons">
		<form>
			<ul class="radio">
				@for (back of backs; track back; let i = $index) {
					<li>
						<input type="radio" name="back" id="back{{i}}" [value]="back.img"
									 [checked]="app.settings.background === back.img"
									 (change)="app.settings.background = back.img || '';app.settings.save();"
						/><label for="back{{i}}">{{ back.name | translate }}</label>
					</li>
				}
			</ul>
		</form>
	</div>
	<p>{{ 'THEME' | translate }}</p>
	<div class="buttons">
		<form>
			<ul class="radio">
				@for (theme of themes; track theme; let i = $index) {
					<li>
						<input type="radio" name="color" id="color{{i}}" [value]="theme.id"
									 [checked]="app.settings.theme === theme.id"
									 (change)="app.settings.theme = theme.id || '';app.settings.save();"
						/><label for="color{{i}}">{{ theme.name | translate }}</label>
					</li>
				}
			</ul>
		</form>
	</div>
</div>
<div class="settings">
	<p>{{ 'TILESET' | translate }}</p>
	<div class="buttons">
		<form>
			<ul class="radio radio-tilesets">
				@for (imageset of sets; track imageset; let i = $index) {
					<li>
						<input type="radio" name="imageset" id="imageset{{i}}" [value]="imageset.id"
									 [checked]="app.settings.tileset === imageset.id"
									 (change)="app.settings.tileset = imageset.id;app.settings.save();"
						/>
 					<label for="imageset{{i}}">
 						{{ imageset.name }}
 					</label>
						<app-license-link [imagesetId]="imageset.id" [licenseKey]="imageset.license"></app-license-link>
					</li>
				}
				@if (canKyodai) {
					<li>
						<input type="radio" name="imageset" value="kyodai" id="imageset-kyodai"
									 [checked]="app.settings.tileset === 'kyodai'"
									 (change)="app.settings.tileset = 'kyodai';app.settings.save();"
						/>
						<label for="imageset-kyodai">{{ 'KYODAI_TILESET' | translate }}</label>
					</li>
				}
			</ul>
		</form>
	</div>
	@if (canKyodai && app.settings.tileset === 'kyodai') {
		<div class="settings">
			<p>{{ 'KYODAI_TILESET_SETTINGS' | translate }}</p>
			<div class="input-wrapper">
			<textarea #kyodaiInput type="text" name="kyodai"
								[value]="app.settings.kyodaiUrl ? app.settings.kyodaiUrl : ''"
								(change)="updateKyodaiUrl($event)"></textarea>
				<button class="clear-kyodai" (click)="clearKyodaiUrl()">
					<svg width="17px" height="17px" viewBox="0 0 35 35">
						<path d="M28.814,30.064a1.247,1.247,0,0,1-.884-.367L5.3,7.07A1.249,1.249,0,0,1,7.07,5.3L29.7,27.93a1.251,1.251,0,0,1-.884,2.134Z"/>
						<path d="M6.186,30.064A1.251,1.251,0,0,1,5.3,27.93L27.93,5.3A1.25,1.25,0,0,1,29.7,7.07L7.07,29.7A1.247,1.247,0,0,1,6.186,30.064Z"/>
					</svg>
				</button>
				<select class="example-kyodai" (change)="setKyodaiUrl($event)">
					<option value="">{{ 'KYODAI_TILESET_EXAMPLES' | translate }}</option>
					@for (k of kyodaiTileSets; track k.source) {
						<option [value]="k.source">{{ k.name }} - {{ k.author }}</option>
					}
				</select>
			</div>
			<button (click)="applyKyodaiUrl()">{{ 'KYODAI_TILESET_LOAD' | translate }}</button>
		</div>
	}

	<p>{{ 'TILES' | translate }}</p>
	<div>
		<label class="check">
			<input type="checkbox"
						 [checked]="app.settings.contrast"
						 (change)="app.settings.contrast = !app.settings.contrast;app.settings.save();"
			>
			{{ 'HIGHER_CONTRAST' | translate }}
		</label><br/>
		<label class="check">
			<input type="checkbox"
						 [checked]="app.settings.dark"
						 (change)="app.settings.dark = !app.settings.dark;app.settings.save();"
			>
			{{ 'TILES_DARK' | translate }}
		</label>
	</div>
	<p>{{ 'BEST_TIMES' | translate }}</p>
	<div>
		<button class="clear-times" (click)="clearTimesClick()">{{ 'BEST_TIMES_CLEAR' | translate }}</button>
	</div>
</div>
