@use "../../style/mixins";

:host {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	flex: 1;
	overflow-y: auto;
	gap: 16px;

	@include mixins.respond-to(large-down) {
		flex-flow: column;
		gap: 8px;
	}

	.settings {
		width: 50%;
		flex-flow: column;
		display: flex;
		gap: 16px;

		@include mixins.respond-to(large-down) {
			width: 100%;
		}

		@include mixins.respond-to(medium-down) {
			gap: 8px;
		}
	}

	fieldset {
		border: 1px solid var(--main-bg-color-lt);
		border-radius: 8px;
		padding: 8px 12px 12px;

		legend {
			padding: 0 6px;
			font-weight: bold;
		}
	}

	input[type="checkbox"] {
		height: 1em;
		width: 1em;
	}

	input[type="radio"], input[type="checkbox"], label, button {
		cursor: pointer;
	}

	li {
		padding-left: 19px;
		line-height: 34px;
		display: flex;
		gap: 3px;
		height: 34px;
		align-items: center;
		border-radius: 8px;

		&:hover {
			background-color: var(--dialog-background-color-hover);
		}
	}

	.radio {
		columns: 2;
		text-align: left;
		list-style: none;
		padding: 0;
		margin: 0;
		vertical-align: text-bottom;

		label {
			vertical-align: middle;
			line-height: 34px;
			white-space: nowrap;
			text-overflow: ellipsis;
			flex: 1;
		}

		input {
			margin-left: -14px;
		}

		@include mixins.respond-to(tiny-down) {
			columns: 1;
		}
	}

	.checks {
		list-style: none;
		padding: 0;
		margin: 0;

		li {
			padding-left: 0;
		}

		label {
			width: 100%;
		}

		.check {
			padding: 2px;
		}
	}

	.close {
		margin-top: 0;
	}

	.input-wrapper {
		display: flex;
		flex-direction: row;
		position: relative;
		border: 1px solid var(--card-layout-color-border);
		background-color: var(--input-background-color);
		border-color: var(--input-border-color);
		color: var(--input-text-color);
		margin-top: 8px;
		margin-bottom: 8px;

		&::after {
			position: absolute;
			content: '';
			right: 8px;
			top: 16px;
			width: 0;
			height: 0;
			border-left: 5px solid transparent;
			border-right: 5px solid transparent;
			border-top: 10px solid var(--input-text-color);
			pointer-events: none;
		}

		textarea {
			flex: 1;
			border: none;
			resize: none;
			outline: none;
			font-size: 10px;
			background-color: var(--input-background-color);
			color: var(--input-text-color);
		}

		&:focus-within {
			outline: 2px solid var(--card-layout-color-border);
		}

		.example-kyodai {
			background-color: var(--input-background-color);
			color: var(--input-background-color);
			border: none;
			width: 34px;
		}

		.clear-kyodai {
			background-color: var(--input-background-color);
			color: var(--input-text-color);
			border: none;
			width: 34px;

			svg {
				fill: var(--input-text-color);
			}
		}
	}
}
