@import "../../style/globals";

:host {
  display: block;

  h1 {
    text-align: center;
    color: $text-color;
    margin-top: 0;
    margin-bottom: 0.2em;
		@include respond-to(tiny-down) {
			font-size: 1.2em;
		}
	}

  p {
    margin: 10px 0 4px;
    font-weight: bold;
		border-bottom: 1px solid lighten($background-color, 5%);
	}

	.settings-content {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;

		> div {
			width: 30%;
			margin-right: 10px;

			@include respond-to(small-down) {
				width: 100%;
			}
			> div {
				width: 100%;
				> div {
					display: flex;
					flex-direction: row;
					> div {
						flex: 1;
					}
					.name {
						max-width: 40%;
					}
				}
			}
		}
	}

	button {
		margin-top: 10px;
		padding: 12px;
	}

  .radio {
    text-align: left;
    list-style: none;
    padding: 0;
    margin: 0;
		vertical-align: middle;
		label {
			vertical-align: middle;
			margin-left: 2px;
    }

		a {
      float: right;
      margin-left: 3px;
			font-size: 0.8em;
    }
  }

  .close {
    margin-top: 0;
  }
}
