@import "../../style/globals";

:host {
  padding: 2px;
  margin-left: 1px;
  cursor: pointer;
  outline: 0;
  white-space: nowrap;
  @include no-select();
  &.selected {
    background-color: darken($popup-background-color, 4%);
  }

  &:hover {
    background-color: lighten($popup-background-color, 10%);
  }

  span {
    @include no-select();
  }

  span:first-of-type {
    display: inline-block;
    min-width: 1.8em;
		@include respond-to(small-down) {
			display: none;
		}
		@include respond-to(large-up) {
			line-height: 1.4em;
		}
		@include respond-to-height(small-down) {
			line-height: 1.1em;
		}
  }
}
