@import "../../style/globals";

:host {
	display: block;

	h1 {
		text-align: center;
		color: $text-color;
		margin-top: 0;
		margin-bottom: 0.2em;
	}

	.tiles-content {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}

	.tiles-reference {
		padding-top: 5px;
		text-align: right;
	}

	.tile {
		flex: 1 100%;
		min-width: auto;
		text-align: center;
		word-break: normal;
		margin-top: 5px;
		margin-bottom: 5px;
		display: flex;
		flex-direction: column;
	}

	.tiles-title {
		flex: 1;
		margin-top: 0.2em;
		font-weight: bold;
		text-align: center;
		border-bottom: 1px solid lighten($background-color, 5%);
	}

	.tiles-section {
		padding: 0 6px;
	}

	.tiles-section-9 {
		flex: 100%;
	}

	.tiles-section-4, .tiles-section-3 {
		flex: 50%;
	}

	.tiles-set {
		display: flex;
		align-items: center;
		justify-content: space-around;
	}

	@include respond-to(small-down) {
		.tiles-section-9 {
			.tiles-set {
				flex-wrap: wrap;

				.tile {
					flex: 20%;
				}
			}
		}
		.tiles-section-4, .tiles-section-3 {
			flex: 100%;
		}
	}

	@include respond-to(tiny-down) {
		.tiles-section-9, .tiles-section-4, .tiles-section-3 {
			.tiles-set {
				flex-wrap: wrap;
				.tile {
					flex: 25%;
				}
			}
		}
	}
	@include respond-to(pico-down) {
		.tiles-section-9, .tiles-section-4, .tiles-section-3 {
			.tiles-set {
				flex-wrap: wrap;

				.tile {
					flex: 50%;
				}
			}
		}
	}

}
