<div class="tiles-content">
	<ng-container *ngFor="let suit of TILES_INFOS">
		<div class="tiles-section tiles-section-{{group.tiles.length}}" *ngFor="let group of suit.groups">
			<div class="tiles-title">{{group.name | translate}}</div>
			<div class="tiles-set tiles-set-{{group.tiles.length}}">
				<div class="tile" *ngFor="let tile of group.tiles; let i=index">
					<div>
						<app-tile [tile]="tile" [imageSet]="tileset" [index]="i" [isDark]="isDark"></app-tile>
					</div>
					<div [innerHtml]="tile | translate"></div>
				</div>
			</div>
		</div>
	</ng-container>
</div>
<div class="tiles-header">
	<form>
		<select (change)="tileset = $any($event.target).value" tabindex="0">
			<option *ngFor="let imageset of sets; let i=index;" [value]="imageset.id" [selected]="tileset === imageset.id">{{imageset.name}}</option>
		</select>
		<label><input type="checkbox" [checked]="isDark" (change)="isDark = !isDark;">{{'TILES_DARK'|translate}}</label>
	</form>
	<div class="tiles-reference">
		<a rel="noopener" target="_blank" href="{{'READ_MORE_WIKIPEDIA_URL' | translate}}">{{'READ_MORE_WIKIPEDIA' | translate}}</a>
	</div>
</div>
