g.draw:focus {
	outline: none;
}

g.draw:focus-visible rect.stone {
	stroke: #04c;
	stroke-width: 5px;
}

g.stage.dark g.draw:focus-visible rect.stone {
	stroke: #42a5f5;
	stroke-width: 5px;
}

:host {
	width: 100%;
	height: 100%;
	display: block;
	background-repeat: repeat;
	background-size: cover;

	&.background-repeat {
		background-size: unset;
	}

	.board-svg {
		width: 100%;
		height: 100%;
		position: relative;
		transform-origin: 0 0 0;
		transform: translate(0, 0) scale(1);
		user-select: none;
	}

}
