<svg xmlns="http://www.w3.org/2000/svg" class="board-svg" preserveAspectRatio="xMidYMid meet"
		 [class.rotate]="rotate"
		 [attr.viewBox]="viewport"
		 [style.transform]="transformSVG"
		 (mouseup)="onMouseUp($event)"
>
	<defs>
		<svg id="front" width="300" height="400" viewBox="0 0 300 400">
			<path transform="translate(28,-614)"
						style="fill:#ffffff;fill-opacity:0.3;fill-rule:evenodd;stroke:none;filter: blur(10px);"
						d="M -4.7687833,775.07096 C -9.6501835,741.99485 -16.84552,674.23676 -1.2788716,652.0641 18.998297,625.94378 233.50094,631.63117 263.31435,653.90999 276.21398,662.64856 70.349579,663.12124 47.099353,691.74479 24.390958,719.11242 0.65060847,818.18718 -4.7687833,775.07096 Z"/>
		</svg>
		<clipPath id="mah-image-clip">
			<rect
				[attr.x]="imageCut[0]"
				[attr.y]="imageCut[1]"
				[attr.width]="imageCut[2]"
				[attr.height]="imageCut[3]"
				 rx="10" ry="10" fill="#fff"/>
		</clipPath>
	</defs>
	<style>
		g.tile {
			transform-origin: 50px 32.5px;
			opacity: 1;
			transition: transform 120ms ease-in-out;
		}

		@keyframes mah-wiggle {
			0% {
				transform: rotate(0deg);
			}
			20% {
				transform: rotate(-3deg);
			}
			40% {
				transform: rotate(3deg);
			}
			60% {
				transform: rotate(-1deg);
			}
			80% {
				transform: rotate(1deg);
			}
			100% {
				transform: rotate(0deg);
			}
		}

		g.wiggle g.tile {
			animation: mah-wiggle 250ms ease-in-out;
		}

		g.hinted g.tile {
			transform: scale(1.12);
		}

		g.hinted g.tile > rect {
			stroke: #9f0000;
			stroke-width: 3px;
		}

		@keyframes mah-select-pop {
			0% { transform: scale(1); }
			60% { transform: scale(1.08); }
			100% { transform: scale(1.04); }
		}

		g.selected g.tile {
			transform: scale(1.04);
			animation: mah-select-pop 140ms ease-out;
		}

		g.selected g.tile rect.stone {
			stroke: black;
			fill: #F8EABB;
		}

		g.selected.hinted g.tile {
			transform: scale(1.14);
			animation: none;
		}

		g.selected.hinted g.tile rect.stone {
			stroke: #9f0000;
			stroke-width: 3px;
		}

		g.draw rect.shadow {
			fill: #191919;
			opacity: 0.6;
			stroke-width: 1;
			stroke: black;
		}

		g.draw rect.stone {
			fill: #FFF9E5;
			stroke-width: 1;
			stroke: black;
		}

		g.hidden {
			opacity: 0;
		}

		g.stage.contrast g.draw rect.stone {
			stroke-width: 2;
		}

		g.stage.contrast g.draw rect.shadow {
			opacity: 0.7;
		}

		g.stage.dark g.draw rect.shadow {
			opacity: 0.6;
			stroke-width: 1;
			fill: #9d948c;
			stroke: green;
		}

		g.stage.dark g.draw rect.stone {
			fill: #000;
			stroke-width: 1;
			stroke: #9d948c;
		}

		g.stage.dark g.selected g.tile rect.stone {
			stroke: #F8EABB;
			fill: black;
		}

		g.stage.dark g.hinted g.tile rect.stone {
			stroke: #ef0202;
		}

		g.stage.dark g.selected.hinted g.tile rect.stone {
			stroke: #ef0202;
		}

		g.stage.dark.contrast g.draw rect.stone {
			stroke-width: 2;
		}

		g.stage.dark.contrast g.draw rect.shadow {
			opacity: 0.7;
		}

		g.stage.dark .front {
			display: none;
		}

		g.stage.dark .front {
			display: unset;
		}

		@media (prefers-reduced-motion: reduce) {
			g.tile { transition: none; }
			g.wiggle g.tile { animation: none; }
			g.selected g.tile { animation: none; }
		}
	</style>
	<defs app-image-set-loader [imageSet]="imageSet()" [kyodaiUrl]="kyodaiUrl()" [dark]="app.settings.dark" [prefix]="prefix"></defs>
	<g class="stage" [attr.transform]="transformStage" [class.dark]="app.settings.dark" [class.contrast]="app.settings.contrast">
		@for (draw of drawStones; track draw.source.z + ':' + draw.source.x + ':' + draw.source.y) {
			<g class="draw"
				 [class.selected]="draw.source.selected"
				 [class.hidden]="draw.source.picked"
				 [class.hinted]="draw.source.hinted"
				 [class.wiggle]="draw.source.effects?.wiggle"
				 [attr.transform]="draw.pos.translate"
				 (mouseup)="onClickUp($event, draw)"
				 (touchend)="onTouchTileEnd($event, draw)">
				<g class="tile">
					@if (draw.url) {
						<title>{{ draw.url | translate }}</title>
					}
					<rect class="shadow" x="3" y="3" width="75" height="100" rx="10" ry="10"></rect>
					<rect class="stone" x="0" y="0" width="75" height="100" rx="10" ry="10"></rect>
					<use
						[attr.xlink:href]="draw.url | prefix:urlPrefix"
						[attr.x]="imagePos[0]"
						[attr.y]="imagePos[1]"
						[attr.width]="imagePos[2]"
						[attr.height]="imagePos[3]"
						clip-path="url(#mah-image-clip)"
					/>
					<use class="front" xlink:href="#front" x="0" y="0" width="75" height="100"/>
				</g>
			</g>
		}
	</g>
</svg>
@for (indicator of indicators.gestureIndicators; track indicator) {
	<div
		class="gesture-indicator"
		[style.top.px]="indicator.top" [style.left.px]="indicator.left"
		[style.width.px]="indicator.size" [style.height.px]="indicator.size"
		[style.transform]="indicator.transform"
		[class.visible]="indicator.state === 'visible'"></div>
}
