@import "../../style/globals";

:host {
  width: 100%;
  height: 100%;
  display: block;
  background-repeat: repeat;
	background-size: cover;

  .board-svg {
    width: 100%;
    height: 100%;
    position: relative;

    @include no-select();

    rect.background {
      fill: $background-color;
      opacity: 0;
    }

		g.stage {
			transition: opacity 500ms;
		}

		g.tile {
			/*transition: transform 200ms ease-out;*/
			transform-origin: 50px 32.5px;
			opacity: 1;
		}

		g.hinted g.tile {
			transform: scale(1.12);
		}

		g.hinted g.tile > rect {
			stroke: #9f0000;
			stroke-width: 3px;
		}

		g.selected g.tile {
			transform: scale(1.04);
		}

		g.selected g.tile rect.stone {
			stroke: black;
			fill: #F8EABB;
		}

		g.selected.hinted g.tile {
			transform: scale(1.14);
		}

		g.selected.hinted g.tile > rect {
			stroke: #9f0000;
			stroke-width: 3px;
		}

		g.draw rect.shadow {
			fill: #191919;
			opacity: 0.6;
			stroke-width: 1;
			stroke: black;
		}

		g.draw rect.stone {
			fill: #FFF9E5;
			stroke-width: 1;
			stroke: black;
		}

		g.hidden {
			opacity: 0;
		}

  }
}
