@import "../../style/globals";

:host {
  width: 100%;
  height: 100%;
  display: block;

  .board-svg {
    width: 100%;
    height: 100%;
    position: relative;

    @include no-select();

    rect.background {
      fill: $background-color;
    }

  }
}
