@if (groups().length > 1) {
	<div class="headline-anchors">
		@for (group of groups(); track group.name; let i = $index) {
			<a [href]="'#group-' + i" (click)="scrollToGroup($event, i)">{{ group.name | translateGroup }}</a>
		}
	</div>
}
<div #scrollHost class="groups">
	@for (group of groups(); track group.name; let i = $index) {
		<div class="group" id="group-{{i}}">
			@if (groups().length > 1) {
				<div
					class="group-name"
					tabindex="0"
					role="button"
					[attr.aria-expanded]="group.expanded()"
					(click)="toggleGroupExpanded($event, group)"
					(keydown.enter)="toggleGroupExpanded($event, group)"
					(keydown.space)="toggleGroupExpanded($event, group)"
				>
					<span class="group-expander" [class.expanded]="group.expanded()"></span>
					{{ group.name | translateGroup }}
					<span class="group-count"></span>
				</div>
			}
			@if (group.expanded()) {
				@if (group.isRandom) {
					<div class="previews previews-random" appDeferLoadScrollHost>
						@for (item of group.layouts; track item.layout.id) {
							<div
								app-layout-list-item
								class="preview preview-seed-card"
								[item]="item"
								[random]="true"
								(startEvent)="onStart(item)"
								(seedEvent)="regenerateWithSeed($any(item), $event)"
							></div>
						}
						<div class="preview-random">
							<div class="random-options">
								<label for="random-setting-vertical">
									<app-icon-mirror-vertical/>
									{{ 'MIRROR_X' | translate }}
								</label>
								<select id="random-setting-vertical" (change)="this.randomMirrorXSet($any($event.target).value)">
									<option value="random" [selected]="this.randomMirrorX() ==='random'">{{ 'RANDOM_MIRROR' | translate }}</option>
									<option value="true" [selected]="this.randomMirrorX() ==='true'">{{ 'YES' | translate }}</option>
									<option value="false" [selected]="this.randomMirrorX() ==='false'">{{ 'NO' | translate }}</option>
								</select>
							</div>
							<div class="random-options">
								<label for="random-setting-horizontal">
									<app-icon-mirror-horizontal/>
									{{ 'MIRROR_Y' | translate }}
								</label>
								<select id="random-setting-horizontal" (change)="this.randomMirrorYSet($any($event.target).value)">
									<option value="random" [selected]="this.randomMirrorY() ==='random'">{{ 'RANDOM_MIRROR' | translate }}</option>
									<option value="true" [selected]="this.randomMirrorY() ==='true'">{{ 'YES' | translate }}</option>
									<option value="false" [selected]="this.randomMirrorY() ==='false'">{{ 'NO' | translate }}</option>
								</select>
							</div>
							<div>
								<button type="button" (click)="generateRandomLayouts()">
									{{ 'GENERATE' | translate }}
								</button>
							</div>
						</div>
					</div>
				} @else {
					<div class="previews" appDeferLoadScrollHost>
						@for (item of group.layouts; track item.layout.id) {
							<div
								app-layout-list-item
								class="preview"
								[item]="item"
								(startEvent)="onStart(item)"
								(clearBestTimeEvent)="clearBestTime(item)"
								(customDeleteEvent)="removeCustom(item)"
							></div>
						}
					</div>
				}
			}
		</div>
	}
</div>
