@if (groups.length > 1) {
	<div class="headline-anchors">
		@for (group of groups; track group; let i = $index) {
			<a (click)="scrollToGroup(i)">{{ group.name }}</a>
		}
	</div>
}
<div #scrollHost class="groups">
	@for (group of groups; track group; let i = $index) {
		<div class="group" id="group-{{i}}">
			@if (groups.length > 1) {
				<div class="group-name">{{ group.name }} ({{ group.layouts.length }})</div>
			}
			<div class="previews" appDeferLoadScrollHost>
				@for (item of group.layouts; track item) {
					<div class="preview"
							 tabindex="0"
							 [id]="'item-'+item.layout.id"
							 [class.selected]="item.selected"
							 (keydown.enter)="onStart(item.layout)"
							 (click)="onStart(item.layout)"
							 (appDeferLoad)="item.visible=true"
					>
							@if (item.visible) {
						<app-layout-preview class="svg-board" [svg]="item.layout.previewSVG" [alt]="item.layout.name"></app-layout-preview>
							} @else {
								<div class="preview"
										 [id]="'item-'+item.layout.id"
										 [class.selected]="item.selected"
								>
									<div class="preview-name">{{ item.layout.name }}</div>
								</div>
							}
						@if (item.bestTime) {
							<div class="preview-best-time">
								<span title="{{ 'STATS_BEST' | translate }}">{{ item.bestTime|duration }}</span>
								<a (click)="clearBestTimeClick($event, item)" title="{{ 'BEST_TIME_CLEAR' | translate }}">
									<i class="icon-cancel-squared"></i>
								</a>
							</div>
						}
						<div class="preview-name">{{ item.layout.name }}</div>
						@if (item.layout.custom) {
							<div class="preview-custom" title="{{ 'CUSTOM_BOARD_DELETE' | translate }}">
								<a (click)="removeCustomLayout($event, item)">
									<i class="icon-trash-empty"></i>
								</a>
							</div>
						}
					</div>
				}
			</div>
		</div>
	}
</div>
