<h3>{{ 'EDITOR_SAVE' | translate }} / {{ 'EDITOR_EXPORT' | translate }}</h3>
@if (layout()) {
	<div class="section">
		<div class="inputs">
			<label>{{ 'EDITOR_LAYOUT_NAME' | translate }}</label>
			<input type="text" [value]="layout().name" (input)="layout().name = $any($event.target).value;" (change)="this.update()" (blur)="this.update()">
			<label>{{ 'EDITOR_LAYOUT_BY' | translate }}</label>
			<input type="text" [value]="layout().by" (input)="layout().by = $any($event.target).value;" (change)="this.update()" (blur)="this.update()">
			<label>{{ 'EDITOR_LAYOUT_CATEGORY' | translate }}</label>
			<input type="text" [value]="layout().category" (input)="layout().category = $any($event.target).value;" (change)="this.update()" (blur)="this.update()">
		</div>
		<div class="preview">
			<app-layout-preview class="svg-board" [layout]="layout()"></app-layout-preview>
		</div>
	</div>
}
<div class="export">
	<label>Format</label>
	<fieldset>
		<ul>
			@for (ef of exportFormats; track ef) {
				<li>
					<input [id]="'format_'+ef.name" type="radio" [value]="ef" name="format"
								 [checked]="( format === ef )"
								 (change)="chooseFormat(ef);"
					>
					<label [for]="'format_'+ef.name">{{ ef.name }}</label>
				</li>
			}
		</ul>
	</fieldset>
	<div class="export-preview">
		<pre>{{ this.result }}</pre>
	</div>
	<br/>
	<div class="buttons">
		<button class="text-button" (click)="download()">{{ 'EDITOR_LAYOUT_DOWNLOAD' | translate }} {{ filename }}</button>
		@if (this.layout() && this.layout().originalId && exportLayout.id !== this.layout().originalId) {
			<button class="text-button" (click)="saveAsCopy()">{{ 'EDITOR_LAYOUT_SAVE_AS_COPY' | translate }}</button>
		}
		<button class="text-button" (click)="save()">{{ 'EDITOR_LAYOUT_SAVE' | translate }}</button>
	</div>
</div>
