<button type="button" class="start-button" (click)="startEvent.emit()">
	<svg class="start-art" viewBox="26 34 228 132" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false">
		<defs>
			<filter id="start-tile-cast" x="-60%" y="-60%" width="220%" height="220%">
				<feGaussianBlur in="SourceGraphic" stdDeviation="4"/>
			</filter>
			<clipPath id="start-image-clip">
				<rect
					[attr.x]="imageCut()[0]"
					[attr.y]="imageCut()[1]"
					[attr.width]="imageCut()[2]"
					[attr.height]="imageCut()[3]"
					rx="10" ry="10"/>
			</clipPath>
			<defs
				app-image-set-loader
				[imageSet]="app.settings.tileset()"
				[kyodaiUrl]="app.settings.kyodaiUrl()"
				[dark]="app.settings.dark()"
				prefix="start_"
			></defs>
		</defs>
		<g
			class="art-stage"
			[class.dark]="app.settings.dark()"
			[class.contrast]="app.settings.contrast()"
			[class.tile3d]="app.settings.tile3d()"
		>
			@for (tile of tiles; track tile.id) {
				<g [attr.transform]="tile.transform">
					<g class="art-tile" [class]="'art-tile-' + tile.name">
						@if (app.settings.shadows()) {
							<rect class="shadow" x="-1" y="1" width="80" height="104" rx="12" ry="12"/>
						}
						@if (app.settings.tile3d()) {
							<rect class="side" x="5" y="5" width="75" height="100" rx="10" ry="10"/>
						}
						<rect class="stone" x="0" y="0" width="75" height="100" rx="10" ry="10"/>
						@if (app.settings.tile3d()) {
							<rect class="bevel" x="1.5" y="1.5" width="72" height="97" rx="8.5" ry="8.5"/>
						}
						<use
							[attr.xlink:href]="'#start_' + tile.id"
							[attr.x]="imagePos()[0]"
							[attr.y]="imagePos()[1]"
							[attr.width]="imagePos()[2]"
							[attr.height]="imagePos()[3]"
							clip-path="url(#start-image-clip)"
						/>
					</g>
				</g>
			}
		</g>
	</svg>
	<span class="label">{{ 'MSG_START' | translate }}</span>
</button>
