@use "../../../../style/mixins";

:host {
	display: flex;
	overflow: hidden;
	flex-direction: column;
	flex: 1;

	.headline-anchors {
		border-bottom: 1px solid var(--card-layout-color-border);
		width: 100%;
		display: flex;
		flex-flow: row wrap;
		color: var(--dialog-text-color);
		white-space: nowrap;

		a {
			flex-grow: 1;
			flex-basis: 0;
			display: inline-block;
			padding: 2px 4px;
			font-size: 0.9em;
			cursor: pointer;
			text-align: center;

			&:hover {
				color: var(--main-text-color-lt);
			}
		}
	}

	.groups {
		overflow: hidden auto;
		width: 100%;
		flex: 1;

		.group {
			width: 100%;
			padding-bottom: 16px;

			.group-name {
				border-top: 1px solid var(--card-layout-color-border);
				color: var(--main-content-text-color);
				padding-top: 16px;
				text-align: center;
			}

			&:first-of-type {
				.group-name {
					border-top: inherit;
				}
			}

			.previews {
				width: 100%;
				display: flex;
				flex-flow: row wrap;
				justify-content: space-evenly;
			}

			.preview {
				margin-top: 10px;
				width: 300px;
				height: 200px;
				cursor: pointer;
				border: 1px solid var(--card-layout-color-border);
				background-color: var(--card-layout-color-bg);
				display: block;
				position: relative;
				overflow: hidden;

				app-layout-preview {
					display: block;
					width: 300px;
					height: 200px;
					text-align: center;
					padding-bottom: 1.5em;
				}

				.preview-custom, .preview-best-time {
					position: absolute;
					right: 0;
					background-color: var(--preview-overlay-background);
					color: var(--preview-overlay-text);
					text-shadow: 1px 1px var(--preview-overlay-text-shadow);
					border-bottom-left-radius: 3px;
					padding: 3px 3px 3px 6px;

					a {
						display: inline-block;
						min-width: 1.2em;
						text-align: right;
						transition: all 100ms;
						margin-top: -1px;

						i {
							font-size: 0.8em;
						}

						&:hover {
							transform: scale(1.3);
						}
					}
				}

				.preview-name {
					position: absolute;
					width: 100%;
					bottom: 0;
					background-color: var(--card-text-color-bg);
					color: var(--card-text-color);
					text-align: center;
					font-size: 0.8em;
					padding: 2px;
				}

				.preview-best-time {
					top: 0;
					display: flex;
					flex-direction: row;
					justify-content: center;
				}

				.preview-custom {
					bottom: 0;
					padding: 2px;
				}

				&.selected, &:hover, &:focus {
					background-color: var(--card-layout-color-bg-hover);

					.preview-name {
						background-color: var(--card-text-color-bg-hover);
					}

					.preview-custom {
						display: block;
					}
				}

				&.selected {
					border: 1px solid var(--card-layout-color-border-selected);
					box-shadow: rgb(0 0 0 / 16%) 0 3px 6px, rgb(0 0 0 / 23%) 0 3px 6px;
				}

				@include mixins.respond-to(jumbo-down) {
					&, app-layout-preview {
						width: 200px;
						height: 190px;
					}
				}

				@include mixins.respond-to(medium-down) {
					width: 50%;

					app-layout-preview {
						width: 100%;
					}
				}

				@include mixins.respond-to(tiny-down) {
					width: 100%;
				}

				@include mixins.respond-to-height(small-down) {
					height: 120px;

					app-layout-preview {
						width: 100%;
						height: 100%;
					}
				}
			}
		}
	}
}

