<table class="layout-table">
	<thead>
		<tr class="layout layout-header">
		<td class="col-image">{{ 'EDITOR_COLUMN_PREVIEW' | translate }}</td>
		<td class="col-name sortable" (click)="clickSortBy($event,1)" [class.sort-up]="sortColumn===1 && sortDesc" [class.sort-down]="sortColumn===1 && !sortDesc">{{ 'EDITOR_LAYOUT_NAME' | translate }} <span class="arrow"></span></td>
		<td class="col-cat sortable" (click)="clickSortBy($event,3)" [class.sort-up]="sortColumn===3 && sortDesc" [class.sort-down]="sortColumn===3 && !sortDesc">{{ 'EDITOR_LAYOUT_CATEGORY' | translate }} <span class="arrow"></span>
			<div>
			<label>
				<input type="checkbox" [checked]="showBuildIn" (change)="toggleBuildIn()">
				{{'EDITOR_SHOW_BUILDIN' | translate}}
			</label>
			</div>
		</td>
		<td class="col-stats sortable" (click)="clickSortBy($event,4)" [class.sort-up]="sortColumn===4 && sortDesc" [class.sort-down]="sortColumn===4 && !sortDesc">{{ 'EDITOR_LAYOUT_NR_OF_STONES' | translate }} <span class="arrow"></span></td>
		<td class="col-test">{{ 'EDITOR_COLUMN_TEST' | translate }}
			<button (click)="testLayouts($event)" title="{{ 'EDITOR_TEST_RUN' | translate }}">
				<i class="icon-editor-paper-plane-empty"></i>
			</button>
		</td>
		<td class="col-delete">
			<button (click)="removeCustomLayouts($event)" title="{{ 'CUSTOM_BOARD_DELETE_ALL' | translate }}">
				<i class="icon-trash-empty"></i>
			</button>
		</td>
	</tr>
	</thead>
	<tbody>
	@for (layout of layouts; track layout) {
		<tr class="layout" (click)="editLayout(layout)">
			<td class="col-image">
				<app-layout-preview class="svg-board" [layout]="layout"></app-layout-preview>
			</td>
			<td class="col-name">{{ layout.name }}</td>
			<td class="col-cat">{{ layout.category }}</td>
			<td class="col-stats">{{ layout.mapping.length }}</td>
			<td class="col-test">
				<button (click)="testLayout($event, layout)" title="{{ 'EDITOR_TEST_RUN' | translate }}">
					<i class="icon-editor-paper-plane-empty"></i>
				</button>
				@if (test[layout.id]) {
					<div>
						@if (test[layout.id]?.win) {
							<div>{{ 'EDITOR_TEST_SOLVED' | translate }}: {{ test[layout.id]?.win }}</div>
						}
						@if (test[layout.id]?.fail) {
							<div class="fail">{{ 'EDITOR_TEST_FAILED' | translate }}: {{ test[layout.id]?.fail }}</div>
						}
					</div>
				}
			</td>
			<td class="col-delete">
				@if (layout.custom) {
					<button (click)="removeCustomBoard($event, layout)" title="{{'CUSTOM_BOARD_DELETE' | translate}}">
						<i class="icon-trash-empty"></i>
					</button>
				}
			</td>
		</tr>
	}
	</tbody>
</table>
