@import "../../../../style/globals";

:host {
	overflow-y: auto;
	flex: 1;
	display: flex;

	.fail {
		color: var(--text-fail-color);
	}

	.layout-table {
		display: table;
		color: var(--main-text-color);
		width: 100%;

		.layout {
			display: table-row;
			cursor: pointer;

			&:hover {
				background-color: rgb(255 255 255 / 2%);
			}

			> div {
				display: table-cell;
				vertical-align: middle;
				padding: 4px 15px;
				border-top: 1px solid var(--dialog-border-color);
				border-right: 1px solid var(--dialog-border-color);

				.arrow {
					width: 0;
					height: 0;
					border-left: 5px solid transparent;
					border-right: 5px solid transparent;
					border-bottom: 5px solid var(--main-text-color);
					display: none;
					margin-bottom: 3px;
				}

				&.sortable {
					cursor: pointer;
				}

				&.sort-up {
					.arrow {
						display: inline-block;
					}
				}

				&.sort-down {
					.arrow {
						display: inline-block;
						transform: rotate(180deg);
					}
				}

			}

			.col-image {
				width: 80px;
				height: 80px;
			}

			.col-id {
				font-variant-numeric: slashed-zero tabular-nums;
			}

		}

		.col-stats, .col-clear {
			max-width: 50px;
		}

		.col-test {
			max-width: 80px;
		}

		.layout-header {
			> div {
				border-top: none;
			}

			&:hover {
				background-color: rgb(0 0 0 / 10%);
			}
		}

	}

	button {
		background-color: transparent;
		background-image: none;
		color: var(--text-highlight-color);
		border: 1px solid var(--main-bg-color-dk);
		cursor: pointer;
		text-align: center;

		&:hover {
			color: var(--main-text-color-hover);
			border: 1px solid var(--main-bg-color-lt);
		}

		&.text-button {
			padding: 10px 16px;
		}

		&[disabled] {
			color: var(--text-disabled-color);
			cursor: default;
		}
	}

}
