@import "../../style/globals";

:host {
	display: block;
	margin-bottom: 8px;
	height: 100%;
	width: 100%;

	h1 {
		text-align: center;
		color: $text-color;
		margin-top: 0;
		margin-bottom: 10px;
		line-height: 1.3em;
	}

	p {
		margin: 10px 0 4px;
		font-weight: bold;
		border-bottom: 1px solid lighten($background-color, 5%);
	}

	.help-content {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;

		> div {
			width: 45%;
			margin-right: 10px;

			@include respond-to(small-down) {
				width: 100%;
			}
			> div {
				width: 100%;
				> div {
					display: flex;
					flex-direction: row;
					> div {
						flex: 1;
					}
					.name {
						max-width: 40%;
					}
				}
			}
		}
	}

	.score {
		.score-list {
		}
	}

	.keyboard {
		.keyboard-list {
			.key {
				font-weight: bold;
				text-transform: uppercase;
				padding-left: 10px;
				padding-right: 10px;
				border: 2px solid #f5f5f5;
				border-radius: 6px;
				min-width: 40px;
				display: inline-block;
				letter-spacing: 1px;
				background: black;
				color: #f5f5f5;
				box-shadow: 0 5px 0 0 rgba(0, 0, 0, 1);
				text-align: center;
				margin-right: 0.3em;
			}
		}
	}

	.license {
		.license-list {
		}
	}
}

