@import "../../style/globals";

:host {
	display: block;
	margin-bottom: 8px;
	height: 100%;
	width: 100%;

	h1 {
		text-align: center;
		color: $text-color;
		margin-top: 0;
		margin-bottom: 10px;
		line-height: 1.3em;
		@include respond-to(tiny-down) {
			font-size: 1.2em;
		}
	}

	p {
		margin: 10px 0 4px;
		font-weight: bold;
		border-bottom: 1px solid lighten($background-color, 5%);
	}

	.help-content {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		@include respond-to(small-down) {
			flex-direction: column;
		}

		> div {
			flex: 1;
			margin-right: 10px;
			@include respond-to(medium-down) {
				width: 100%;
			}

			> div {
				width: 100%;

				> div {
					display: flex;
					flex-direction: row;

					> div {
						flex: 1;
					}

					.name, .info {
						padding-right: 2em;
					}

					@include respond-to(tiny-down) {
						flex-direction: column;
						.name {
							min-width: inherit;
							max-width: inherit;
							padding-right: 0;
							width: 100%;
						}
						.info {
							padding-right: 0;
							padding-bottom: 4px;
						}
					}
				}
			}
		}
	}

	.license {
		.name {
			min-width: 40%;
			max-width: 40%;
		}
	}

	.keyboard {
		.keyboard-list {
			.func {
				font-size: 0.8em;
				display: block;
			}
			.name {
				min-width: 50px;
				max-width: 50px;
			}
			.key {
				font-weight: bold;
				text-transform: uppercase;
				padding-left: 10px;
				padding-right: 10px;
				border: 2px solid #f5f5f5;
				border-radius: 6px;
				min-width: 40px;
				display: inline-block;
				letter-spacing: 1px;
				background: black;
				color: #f5f5f5;
				box-shadow: 0 5px 0 0 rgba(0, 0, 0, 1);
				text-align: center;
				margin-right: 0.3em;
				margin-bottom: 0.3em;
				@include respond-to(tiny-down) {
					padding-left: 5px;
					padding-right: 5px;
					min-width: 20px;
					margin-bottom: 6px;
				}
			}
		}
	}

}

