:host {
	--editor-table-row-color: #fff;
	--editor-color-bg: #1e2e37;
	--editor-table-row-color-bg: #1e2e37;
	--editor-table-row-color-bg-hover: #2b424f;

	position: absolute;
	inset: 0;
	background-color: var(--editor-color-bg);
	z-index: 10001;

	a {
		color: var(--main-content-link-color);
		cursor: pointer;

		&:hover {
			color: var(--main-content-link-hover-color);
		}
	}

	.close {
		position: absolute;
		right: 10px;
		top: 8px;
		cursor: pointer;
	}

	.buttons {
		text-align: center;

		button {
			background-color: transparent;
			background-image: none;
			border: 1px solid var(--main-bg-color-dk);
			cursor: pointer;
			font-size: 1em;
			color: var(--text-highlight-color);
			padding: 2px 16px;

			&:hover {
				color: var(--main-text-color-hover);
				border: 1px solid var(--main-text-color-hover);
			}

			&[disabled] {
				color: var(--text-disabled-color);
				cursor: default;
			}
		}
	}

	.editor-content {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;

		> div {
			flex: 1;
			display: flex;
			flex-direction: column;
			overflow: hidden;
		}

		.editor-manager {
			display: none;

			&.visible {
				display: flex;
			}
		}

		.editor-nav {
			padding: 4px 8px 8px;
			border-bottom: 1px solid var(--dialog-border-color);

			ul {
				padding: 0;
				margin: 0 40px 0 0;
				list-style: none;
				display: flex;

				li {
					color: white;
					font-size: 1.3em;
					padding-left: 8px;

					&.sep {
						flex: 1;
					}

					&.active {
						color: yellow;
						cursor: default;
					}
				}

			}
		}

		.editor-main {
			flex: 1;
			display: flex;
			overflow: hidden;
		}
	}
}

