$text-font: 'Kulim Park', 'Tahoma', sans-serif;
$logo-color: red;

// Font-Size
$base-font-size: 1em;

// Line-Height
$base-line-height: 1.5;

// Breakpoints
$bp-pico: 280px;
$bp-femto: 350px;
$bp-tiny: 400px;
$bp-small: 500px;
$bp-medium: 700px;
$bp-large: 1000px;
$bp-huge: 1900px;
$bp-jumbo: 2200px;
$bp-ludicrous: 3000px;
