$background-color: #2b424f;

$popup-background-color: #f5f1e4;
$popup-border-color:#707070;

$text-color: #47b00a;
$text-font: 'josefin_sansregular', 'Tahoma', sans-serif;

$width-tiny: 280px;
$width-small: 400px;
$width-medium: 500px;
$width-large: 700px;

$height-tiny: 280px;
$height-small: 400px;
