$background-color: #2b424f;
$background-color-light: lighten($background-color, 5%);
$background-color-dark: darken($background-color, 10%);

$popup-background-color: #f5f1e4;
$popup-border-color:#707070;

$text-color: #47b00a;
$text-color-light: lighten($text-color, 5%);
$text-color-dark: darken($text-color, 10%);
$text-font: 'Kulim Park', 'Tahoma', sans-serif;

// Font-Size
$base-font-size: 1em;

// Line-Height
$base-line-height: 1.5;
$header-line-height: 1.25;

// Breakpoints
$bp-pico: 280px;
$bp-tiny: 400px;
$bp-small: 500px;
$bp-medium: 700px;
$bp-large: 1000px;
$bp-huge: 1900px;
$bp-jumbo: 2200px;
$bp-ludicrous: 3000px;

$mq-retina: "(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)";

$highlight-color: #8ec271;
