<div class="newgame-content">
	<app-layout-list class="newgame-left" [layouts]="layouts" [index]="focusIndex" (selectEvent)="onSelect($event)" (startEvent)="onStart($event)"></app-layout-list>
	<div class="newgame-right">
		<div class="start" *ngIf="current">
			<div>{{current.name}}</div>
			<div class="preview" (click)="onStart(current);">
				<app-board class="svg-board" [layout]="current"></app-board>
			</div>
		</div>
	</div>
</div>
<div class="choose-buttons">
	<div class="generator">
		<label>{{'BOARD_GENERATOR' | translate}}:</label>
		<select [(ngModel)]="mode">
			<option *ngFor="let m of builder.modes" value="{{m.id}}">{{m.id | translate}} - {{m.id+'_DESC' | translate}}</option>
		</select>
	</div>
	<div class="start-links">
		<button class="link" (click)="randomGame()">{{'START_RANDOM' | translate}}</button>
		<button class="link" [disabled]="!current" (click)="onStart(current)">{{'START_SELECTED' | translate}}</button>
	</div>
</div>

