@use "app/style/variables";
@use "app/style/mixins";

*, *::before, *::after {
	box-sizing: border-box;
}

html {
	--main-bg-color: #2b424f;
	--main-bg-color-lt: #2e4856;
	--main-bg-color-dk: #253c46;
	--main-text-color: #47b00a;
	--main-text-color-hover: #358808;
	--main-text-color-lt: #51ca0a;
	--main-text-color-dk: #358808;
	--main-content-text-color: #000;
	--main-content-text-color-muted: #272727;
	--main-content-link-color: #2e4856;
	--main-content-link-hover-color: #22353f;
	--dialog-headline-color: #2e8c02;
	--dialog-text-color: #000;
	--dialog-background-color: #f5f1e4;
	--dialog-background-color-hover: #ddd8ce;
	--dialog-border-color: #0d1417;
	--dialog-border-color-hover: #2e4856;
	--dialog-border-color-selected: yellow;
	--card-layout-color-border-selected: #000;
	--card-layout-color-border: #afafaf;
	--card-layout-color-bg: #2b424f;
	--card-layout-color-bg-hover: #1e2e37;
	--card-layout-color: #fff;
	--card-text-color-bg: #1e2e37;
	--card-text-color-bg-hover: #1e2e37;
	--card-text-color: #fff;
	--input-text-color: #000;
	--input-background-color: #ddd;
	--input-background-color-hover: #fff;
	--input-border-color: #8f8f8f;
	--text-fail-color: #cc919f;
	--text-disabled-color: #8d8d8d;
	--text-highlight-color: #8ec271;
	--close-color: #7c7c7c;
	--close-color-hover: #3a3a3a;
	--tile-color: #FFF9E5;
	--tile-color-border: #4b4b4b;
	--tile-color-dark: #000;
	--tile-color-border-dark: #4b4b4b;
	--preview-overlay-background: rgb(24 24 24 / 80%);
	--preview-overlay-text: #fff;
	--preview-overlay-text-shadow: #000;
	--gesture-indicator: #42a5f5;
	--overlay-popup-shadow: 5px 5px 5px 0px rgb(0 0 0 / 75%);

	background-color: var(--main-bg-color);
}

@media (prefers-color-scheme: dark) {
	html {
		--dialog-headline-color: #47b00a;
		--dialog-background-color: #1b1b1b;
		--dialog-border-color: #2f444d;
		--dialog-background-color-hover: #272727;
		--card-layout-color-border: #353535;
		--main-content-text-color: #ddd;
		--main-content-text-color-muted: #959494;
		--input-text-color: #ddd;
		--input-background-color: #000;
		--input-background-color-hover: #151515;
		--input-border-color: #353535;
		--main-content-link-color: #5685a8;
		--main-content-link-hover-color: #3e617a;
		--close-color: #ececec;
		--close-color-hover: #bdbdbd;
		--overlay-popup-shadow: 5px 5px 5px 0px rgb(0 0 0 / 75%);
	}
}

.theme-ltgreen {
	--main-bg-color: #253c46;
}

.theme-dkgreen {
	--main-bg-color: #19262e;
	--main-bg-color-lt: #22353f;
	--main-bg-color-dk: #142026;
}

.theme-dkblue {
	--main-bg-color: #001552;
	--main-bg-color-lt: #22353f;
	--main-bg-color-dk: #142026;
	--main-text-color: #fff;
	--main-text-color-lt: #ffe9c0;
	--main-text-color-dk: #dcdbdb;
	--dialog-text-color: #001552;
}

.theme-ltblue {
	--main-bg-color: #34385a;
	--main-bg-color-lt: #22353f;
	--main-bg-color-dk: #142026;
	--main-text-color: #fff;
	--main-text-color-lt: #ffe9c0;
	--main-text-color-dk: #dcdbdb;
	--dialog-text-color: #34385a;
}

.theme-white {
	--main-bg-color: #fff;
	--main-bg-color-lt: #b9b9b9;
	--main-bg-color-dk: #f6f5f5;
	--main-text-color: #000;
	--main-text-color-lt: #646464;
	--main-text-color-dk: #8c8c8c;
	--dialog-text-color: #000;
}

.theme-brown {
	--main-bg-color: brown;
	--main-bg-color-lt: #ad2d2d;
	--main-bg-color-dk: #982626;
	--main-text-color: #fff;
	--main-text-color-lt: #ffe9c0;
	--main-text-color-dk: #dcdbdb;
	--dialog-text-color: #601616;
}

.theme-black {
	--main-bg-color: #000;
	--main-bg-color-lt: #3a3a3a;
	--main-bg-color-dk: #171717;
}

.theme-cyberpunk {
	--main-bg-color: #0a0e27;
	--main-bg-color-lt: #1a1f3a;
	--main-bg-color-dk: #050710;
	--main-text-color: #00ff9f;
	--main-text-color-lt: #00ffff;
	--main-text-color-dk: #ff00ff;
	--dialog-text-color: #0a0e27;
}

.theme-desert {
	--main-bg-color: #c9a961;
	--main-bg-color-lt: #ddb892;
	--main-bg-color-dk: #9d7e52;
	--main-text-color: #2c1810;
	--main-text-color-lt: #4a2c1a;
	--main-text-color-dk: #1a0f08;
	--dialog-text-color: #2c1810;
}

.theme-ice {
	--main-bg-color: #b3e5fc;
	--main-bg-color-lt: #e1f5fe;
	--main-bg-color-dk: #81d4fa;
	--main-text-color: #004471;
	--main-text-color-lt: #01579b;
	--main-text-color-dk: #0d47a1;
	--dialog-text-color: #004471;
}

.theme-lava {
	--main-bg-color: #5d1f1a;
	--main-bg-color-lt: #8b2e2a;
	--main-bg-color-dk: #3d120f;
	--main-text-color: #ffb74d;
	--main-text-color-lt: #ffeb3b;
	--main-text-color-dk: #ff6f00;
	--dialog-text-color: #5d1f1a;
}

.theme-space {
	--main-bg-color: #0d1b2a;
	--main-bg-color-lt: #1b2d42;
	--main-bg-color-dk: #050d15;
	--main-text-color: #e0aaff;
	--main-text-color-lt: #ffc8ff;
	--main-text-color-dk: #c77dff;
	--dialog-text-color: #0d1b2a;
}

.theme-ocean {
	--main-bg-color: #0a3d62;
	--main-bg-color-lt: #1b5e75;
	--main-bg-color-dk: #051e3e;
	--main-text-color: #a8dadc;
	--main-text-color-lt: #f1faee;
	--main-text-color-dk: #457b9d;
	--dialog-text-color: #0a3d62;
}

.theme-medieval {
	--main-bg-color: #3d2817;
	--main-bg-color-lt: #5c4033;
	--main-bg-color-dk: #2c1810;
	--main-text-color: #daa520;
	--main-text-color-lt: #ffd700;
	--main-text-color-dk: #b8860b;
	--dialog-text-color: #3d2817;
}

body {
	font-family: variables.$text-font;
	background-color: var(--main-bg-color);
	font-size: variables.$base-font-size;
	line-height: variables.$base-line-height;
}

button, select {
	border: 1px solid #afafaf;
	font-family: variables.$text-font;
	font-size: inherit;
}

input[type="radio"] {
	font-size: inherit;
	width: 0.9em;
	height: 0.9em;
	vertical-align: middle;
}

a {
	color: var(--main-content-link-color);

	&:hover {
		color: var(--main-content-link-hover-color);
	}
}

p {
	margin: 0;
	padding: 0;
}

.hidden {
	display: none;
}

.link {
	cursor: pointer;
}

.overlay {
	height: 100svh;
	width: 100svw;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10000;
	background-color: rgb(0 0 0 / 20%);
	max-height: 100%;
	max-width: 100%;
	font-size: variables.$base-font-size * 0.9;

	button, select {
		background-color: var(--input-background-color);
		border-color: var(--input-border-color);
		color: var(--input-text-color);
		text-overflow: ellipsis;
		font-size: 0.9em;
		cursor: pointer;
		padding: 10px 16px;
		border-radius: 8px;

		&:hover, &:active {
			background-color: var(--input-background-color-hover);
		}

		&:disabled {
			cursor: default;
			color: var(--text-disabled-color);
		}
	}

	@include mixins.respond-to(medium-up) {
		font-size: variables.$base-font-size * 1.1;
	}

	@include mixins.respond-to(large-up) {
		font-size: variables.$base-font-size * 1.2;
	}

	@include mixins.respond-to(huge-up) {
		font-size: variables.$base-font-size * 1.2;
	}

	@include mixins.respond-to(jumbo-up) {
		font-size: variables.$base-font-size * 2;
	}

	@include mixins.respond-to-height(small-down) {
		font-size: variables.$base-font-size * 0.9;
	}

	.overlay-popup {
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		max-height: calc(98% - env(safe-area-inset-top) - env(safe-area-inset-bottom));
		max-width: calc(98% - env(safe-area-inset-left) - env(safe-area-inset-right));
		margin-left: auto;
		margin-right: auto;
		border: 1px solid var(--dialog-border-color);
		background-color: var(--dialog-background-color);
		line-height: 1.2em;
		padding: 1.5em 2em;
		display: flex;
		flex-direction: column;
		border-radius: 12px;
		box-shadow: var(--overlay-popup-shadow);

		.icon-logo {
			color: red;
		}

		@include mixins.respond-to(jumbo-up) {
			border-radius: 30px;
		}

		@include mixins.respond-to(huge-up) {
			max-height: 80%;
			max-width: 80%;
		}

		@include mixins.respond-to(large-down) {
			padding: 1.3em;
		}

		@include mixins.respond-to(small-down) {
			padding: 1.5em 1em;
		}

		@include mixins.respond-to(pico-down) {
			padding: 1.5em 0.5em 1.5em 1em;
		}
	}

	.close {
		right: 8px;
		top: 8px;
		position: absolute;
		color: var(--close-color);
		cursor: pointer;
		padding: 3px;
		border-radius: 6px;

		i {
			font-size: 1.2em;
		}

		&:hover {
			color: var(--close-color-hover)
		}
	}

	&.overlay-info {
		z-index: 10010;

		.overlay-popup {
			width: 90%;
			height: 90%;
		}
	}

	&.overlay-settings {
		z-index: 10010;

		.overlay-popup {
			width: 90%;
			max-height: 90%;
			max-width: 1400px;
		}
	}

	&.overlay-newgame {
		z-index: 10010;

		.overlay-popup {
			width: 98%;
			height: 98%;
			overflow: hidden;
			max-width: 1400px;

			@include mixins.respond-to-height(small-down) {
				padding: 10px;
			}
		}
	}

	&.overlay-message {
		.overlay-message-message {
			padding: 2em;
		}

		.overlay-message-actions {
			margin-top: 20px;
		}

		.overlay-popup {
			cursor: pointer;
			font-weight: 600;
			text-align: center;
			color: var(--dialog-headline-color);
			padding: 0;
			user-select: none;
		}
	}

	&.overlay-help {
		z-index: 10010;

		.overlay-popup {
			max-height: 90%;
			width: 90%;
			max-width: 1200px;
		}
	}
}

%clearfix:after {
	display: block;
	clear: both;
	content: '';
}
