@import "app/style/globals";

*, *:before, *:after {
	box-sizing: border-box;
}

html {
	width: 100%;
	height: 100%;
	background-color: $background-color;
}

body {
	font-family: $text-font;
	background-color: $background-color;
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
}

body {
	font-size: $base-font-size;
	line-height: $base-line-height;
}

button, select {
	background-image: linear-gradient(to bottom, #e4e4e4, #f7f7f7);
	border: 1px solid #afafaf;
	font-family: $text-font;
	font-size: inherit;
}

input[type=radio] {
	font-size: inherit;
	width: 0.9em;
	height: 0.9em;
	vertical-align: middle;
}

p {
	margin: 0;
	padding: 0;
}

.hidden {
	display: none;
}

.link {
	cursor: pointer;
}

@include overlay();

//----- Extends
%clearfix:after {
	display: block;
	clear: both;
	content: '';
}
