/* kulim-park-regular - latin-ext_latin */
@font-face {
	font-family: 'Kulim Park';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/kulim-park-v4-latin-ext_latin-regular.eot'); /* IE9 Compat Modes */
	src: local(''),
	url('../fonts/kulim-park-v4-latin-ext_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/kulim-park-v4-latin-ext_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/kulim-park-v4-latin-ext_latin-regular.woff') format('woff'), /* Modern Browsers */ url('../fonts/kulim-park-v4-latin-ext_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/kulim-park-v4-latin-ext_latin-regular.svg#KulimPark') format('svg'); /* Legacy iOS */
}
