<app-layout-list (startEvent)="onStart($event)" [layouts]="this.layoutService.layouts.items" />
<div class="choose-buttons">
	<div class="generator">
		<label for="board-generator-select">{{ 'BOARD_GENERATOR' | translate }}:</label>
		<select id="board-generator-select" (change)="buildMode = $any($event.target).value">
			@for (m of buildModes; track m) {
				<option [value]="m.id" [selected]="buildMode === m.id">{{ m.id | translate }} [{{ m.id + '_DESC' | translate }}]</option>
			}
		</select>
	</div>
	<div class="mode">
		<label for="game-mode-select">{{ 'GAME_MODE' | translate }}:</label>
		<select id="game-mode-select" (change)="this.gameMode.set($any($event.target).value)">
			@for (m of gameModes; track m) {
				<option [value]="m.id" [selected]="gameMode() === m.id">{{ m.id | translate }}
					@if (m.features.length > 0) {
						[@for (f of m.features; track f; let last = $last) {
							{{ f.title | translate }}{{ !last ? ', ' : '' }}
						}]
					}
				</option>
			}
		</select>
	</div>
	<div class="start-links">
		<button class="link" (click)="randomGame()">{{ 'START_RANDOM' | translate }}</button>
	</div>
</div>

