@import "../../style/globals";

:host {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;

	.choose-buttons {
		border-top: 1px solid #afafaf;
		padding-top: 10px;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		align-items: flex-end;
		@include respond-to-height(small-down) {
			padding-top: 4px;
		}

		.start-links {
			text-align: right;
			display: inline-block;

			.link {
				color: black;
				margin-left: 8px;
				text-decoration: none;
				padding: 8px;
			}
		}

		.generator, .mode {
			flex: 1;

			label {
				display: block;
				margin-bottom: 2px;
			}

			select {
				width: 100%;
				text-overflow: ellipsis;
				padding: 8px;
			}
		}

		.mode {
			margin-left: 8px;
			max-width: 30%;
		}
	}

}

