@import "../../style/globals";

:host {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;

	.headline {
		padding-top: 8px;
		padding-bottom: 8px;
		border-bottom: 1px solid #afafaf;
	}

	.choose-buttons {
		border-top: 1px solid #afafaf;
		padding-top: 10px;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		align-items: flex-end;

		.start-links {
			text-align: right;
			display: inline-block;

			.link {
				color: black;
				margin-left: 8px;
				text-decoration: none;
				padding: 8px;
			}
		}

		.generator, .mode {
			flex: 1;
			label {
				display: block;
				margin-bottom: 2px;
			}

			select {
				width: 100%;
				text-overflow: ellipsis;
				padding: 8px;
			}
		}
		.mode {
			max-width: 30%;
		}
	}

}

