<div class="headline">
	<div>{{'SELECT_BOARD' | translate}}</div>
</div>
<app-layout-list (startEvent)="onStart($event)"></app-layout-list>
<div class="choose-buttons">
	<div class="generator">
		<label for="board-generator-select">{{'BOARD_GENERATOR' | translate}}:</label>
		<select id="board-generator-select" [(ngModel)]="mode">
			<option *ngFor="let m of modes" value="{{m.id}}">{{m.id | translate}} - {{m.id + '_DESC' | translate}}</option>
		</select>
	</div>
	<div class="start-links">
		<button class="link" (click)="randomGame()">{{'START_RANDOM' | translate}}</button>
	</div>
</div>

