@use "../../style/mixins";

:host {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;

	.choose-buttons {
		padding-top: 10px;
		display: flex;
		flex-flow: row nowrap;
		align-items: flex-end;
		gap: 8px;

		.start-links {
			text-align: right;
			display: inline-block;

			.link {
				color: var(--input-text-color);
				text-decoration: none;
				padding: 8px 12px;
			}
		}

		.generator, .mode {
			flex: 1;

			label {
				display: block;
				margin-bottom: 2px;
			}

			select {
				width: 100%;
			}
		}

		.mode {
			max-width: 30%;
		}

		@include mixins.respond-to-height(medium-down) {
			.mode {
				max-width: 50%;
			}
		}

		@include mixins.respond-to-height(small-down) {
			padding-top: 4px;
		}

		@include mixins.respond-to(small-down) {
			select {
				padding: 5px;
			}
		}

		@include mixins.respond-to-horizontal-device(pad) {
			.start-links {
				display: none;
			}
		}

		@include mixins.respond-to(tiny-down) {
			flex-direction: column;
			align-items: unset;

			label {
				font-size: 0.7em;
			}

			.mode {
				max-width: unset;
			}

			.start-links {
				display: none;
			}
		}
	}
}

