@import "../../style/globals";

:host {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;

	.headline {
		padding-top: 8px;
		padding-bottom: 8px;
		border-bottom: 1px solid #afafaf;
	}

	.headline-anchors {
		border-bottom: 1px solid #afafaf;
		width: 100%;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;

		a {
			flex-grow: 1;
			flex-basis: 0;
			display: inline-block;
			padding: 2px 4px;
			font-size: 0.9em;
			cursor: pointer;
			text-align: center;

			&:hover {
				color: lighten($text-color, 5%);
			}
		}
	}

	.groups {
		overflow-x: hidden;
		overflow-y: auto;
		width: 100%;

		.group {
			width: 100%;
			padding-bottom: 16px;

			.group-name {
				border-top: 1px solid #d5d5d5;
				padding-top: 16px;
				text-align: center;
			}

			&:first-of-type {
				.group-name {
					border-top: inherit;
				}
			}

			.previews {
				width: 100%;
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				justify-content: space-evenly;
			}

			.preview {
				margin-top: 10px;
				width: 200px;
				height: 180px;
				cursor: pointer;
				border: 1px solid #afafaf;
				display: block;
				background-color: #2b424f;
				position: relative;
				overflow: hidden;

				app-layout-preview {
					display: block;
					width: 200px;
					height: 180px;
					text-align: center;
					padding-bottom: 1.5em;
				}

				.preview-name {
					position: absolute;
					width: 100%;
					bottom: 0;
					background-color: rgba(255, 255, 255, .8);
					text-align: center;
					text-shadow: 1px 1px white;
				}

				&:hover {
					background-color: darken(#8b877a, 15%);
				}

				@include respond-to(medium-down) {
					width: 50%;
					app-layout-preview {
						width: 100%;
					}
				}
				@include respond-to(tiny-down) {
					width: 100%;
				}
			}
		}
	}

	.choose-buttons {
		border-top: 1px solid #afafaf;
		padding-top: 10px;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		align-items: flex-end;

		.start-links {
			text-align: right;
			display: inline-block;
			width: 50%;

			.link {
				color: black;
				margin-left: 8px;
				text-decoration: none;
			}
		}

		.generator {
			width: 50%;

			label {
				display: block;
				margin-bottom: 2px;
			}

			select {
				padding-left: 8px;
				width: 100%;
				text-overflow: ellipsis;
			}
		}
	}

}

