@if (visible()) {
	<div class="overlay {{className()}}" tabindex="0" (click)="toggleOverlay();" (keydown)="trapFocus($event)">
		<div class="overlay-popup" role="dialog" aria-modal="true" [attr.aria-labelledby]="title() ? dialogId + '-title' : null" tabindex="-1" (click)="$event.stopPropagation();" (keydown)="$event.stopPropagation();">
			<div class="dialog-header">
				@if (title()) {
					<h2 [id]="dialogId + '-title'"><app-icon-logo />{{ title() }}</h2>
				}
				@if (!noCloseButton()) {
					<button type="button" class="close" (click)="toggle()" [attr.aria-label]="'CLOSE' | translate"><app-icon-close /></button>
				}
			</div>
			<ng-content></ng-content>
		</div>
	</div>
}
