
.icon-emo-happy:before { content: '\e800'; } /* '' */
.icon-emo-unhappy:before { content: '\e801'; } /* '' */
.icon-emo-laugh:before { content: '\e802'; } /* '' */
.icon-lightbulb:before { content: '\e803'; } /* '' */
.icon-play:before { content: '\e804'; } /* '' */
.icon-pause:before { content: '\e805'; } /* '' */
.icon-info:before { content: '\e806'; } /* '' */
.icon-undo:before { content: '\e807'; } /* '' */
.icon-spin1:before { content: '\e808'; } /* '' */
.icon-cancel-circled2:before { content: '\e809'; } /* '' */
.icon-calendar:before { content: '\e80a'; } /* '' */
.icon-note-beamed:before { content: '\e80b'; } /* '' */
.icon-block:before { content: '\e80c'; } /* '' */
.icon-resize-full-alt:before { content: '\e80d'; } /* '' */
.icon-volume-low:before { content: '\e80e'; } /* '' */
.icon-export:before { content: '\e80f'; } /* '' */
.icon-ok:before { content: '\e810'; } /* '' */
.icon-heart:before { content: '\e811'; } /* '' */
.icon-loop:before { content: '\e812'; } /* '' */
.icon-cog:before { content: '\e813'; } /* '' */
.icon-trash-empty:before { content: '\e815'; } /* '' */