@import "../../../../style/globals";

:host {
	width: 100%;
	height: 100%;
	display: block;
	background-repeat: repeat;
	background-size: cover;

	.board-svg {
		width: 100%;
		height: 100%;
		position: relative;
		g.stage {
			transition: opacity 500ms;
		}
		@include no-select();
	}
}
