name: try

on:
  workflow_dispatch:

permissions:
  contents: write

jobs:
  try:
    name: try
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Setup node.js
        uses: actions/setup-node@v6
        with:
          node-version: 22.x

      - name: Install dependencies
        run: npm install

      - name: Generate Releaselog
        run: |
          npm run build:releaselog
